# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Flutter

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        distribution: 'graalvm'
          java-version: '21'
    - uses: subosito/flutter-action@v2
      with:
          channel: 'stable'
    - name: Install Dependencies
      run: flutter pub get
      working-directory: solvis_v2_app
    - name: Run Tests
      run: flutter test
      working-directory: solvis_v2_app
